body {
    background-color: lightskyblue;
}
h3 {
    color:blue;
    text-align: center;
}
 
h4{
    text-align: center;
}
 
p{
    text-align: center;
}
.align-center{
    text-align: center;   
}
#number{
    align-content: center;
}
 
.inputbox{
    border-radius: 15px;
    align-items: center;
    align-content: center;
    text-align: center;
}
 
.buttons{
    align-items: center;
    color: red;
    border-radius: 15px;
}
 
#output{
    background-color: whitesmoke;
    border-radius: 150px;
    font-size: 40px;
    text-align: center;
    color: red;
}